body { 
  margin: 0;
  width: 100vw;
  height: 100vh;
}
canvas { 
  width: 100%;
  height: 100%;
}


#info {
	position: absolute;
	top: 50px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
  color: #F8F0F3;
  font-size: 160px;
  font-family: "Tangerine";
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}